<!-- manager.component.html -->
<html justifiy-content = "center">

<body>
  <header>

    <h1 class="title" >
      <img class="product-logo" [src]="logo" alt="Product Logo" aligne = "left" width="10%" height="12%" >
      {{title}}
    </h1>
      <div class="header-container">

      <p class="slogan">Bester Kiosk in Stadt</p>
    </div>
  </header>
  <main>



<!-- Add Product Form -->
<h2>Add Product</h2>
<form (submit)="addProduct(newProduct)">
  <label>
    Name:
    <input type="text" [(ngModel)]="newProduct.name" name="name" required>
  </label>
  <br>
  <label>
    Price:
    <input type="number" [(ngModel)]="newProduct.price" name="price" required>
  </label>
  <br>
  <label>
    Image:
    <input class="form-control" type="file" width="20%" height="22%"
            (change)="onChange($event)">
            <div class ="card-body" >
              <h3 class="card-title">{{newProduct.name}}</h3>
              <img [src]="url" alt="" width="20%" height="22%">
              <p class="card-text">{{newProduct.price}}</p>

            </div>
  </label>
  <br>
  <button type="submit">Add Product</button>
</form>
<!-- Edit Product Form -->
<h2>Edit Product</h2>
<form (submit)="edit_Product(editProduct)">
  <label>
    Name:
    <input type="text" [(ngModel)]="editProduct.name" name="name" required>
  </label>
  <br>
  <label>
    Price:
    <input type="number" [(ngModel)]="editProduct.price" name="price" required>
  </label>
  <br>
  <label>
    Image URL:
    <input type="url" [(ngModel)]="editProduct.imageUrl" name="imageUrl" required>
  </label>
  <br>
  <button type="submit">Update Product</button>
</form>
<!-- Product List -->
<h2>Product List</h2>
  <div class="product-container-manager">
    <div class="product-row-manager">
       <div class="products" *ngFor="let product of products$ | async">

              <div class ="card-body" width = "22%" objectfit ="cover">

                <div class="product-card__image">
                <img [src]="product.imageUrl" class="card-img-top" alt="..." width="20%" height="25%">
                </div>
                <div class="product-card__details">
                  <h3 class="card-title">{{product.name}}</h3>
                <p class="card-text">{{product.price | currency }}</p>

                <button (click)="editProductForm(product)">Edit</button>
                <button (click)="deleteProduct(product.id)">Delete</button>
              </div>
              </div>
       </div>
      </div>
    </div>
    </main>
  </body>
</html>
