<!-- manager.component.html -->
<html justifiy-content = "center">

<body>
  <header>

    <h1 class="title" >
      <img class="product-logo" [src]="logo" alt="Product Logo" aligne = "left" width="10%" height="12%" >
      {{title}}
    </h1>
      <div class="header-container">

      <p class="slogan">{{info}}</p>
    </div>
  </header>
  <main>



      <h2>Change Titel</h2>
      <form (submit)="changeInfo(title,info)">
        <label>
          Name:
          <input type="text" [(ngModel)]="title" name="Title" required>
        </label>
        <br>
        <label>
          Price:
          <input type="text" [(ngModel)]="info" name="Info" required>
        </label>
        <button type="submit">Update Info</button>
      </form>
<!-- Add Product Form -->
<ul>
<h2>Add Product</h2>
<form (submit)="addProduct(newProduct)">
  <label>
    Name:
    <input type="text" [(ngModel)]="newProduct.name" name="name" required>
  </label>
  <br>
  <label>
    Price:
    <input type="number" [(ngModel)]="newProduct.price" name="price" required>
  </label>
  <br>
  <label>
    Image:
    <input class="form-control" type="file" width="20%" height="22%"
            (change)="onChange($event)">
            <div class ="card-body" >
              <h3 class="card-title">{{newProduct.name}}</h3>
              <div class="form__image">
                <img [src]="url" class="card-img-top" >
              </div>
              <p class="card-text">{{newProduct.price}}</p>

            </div>
  </label>
  <br>
  <button type="submit">Add Product</button>
</form>
<!-- Edit Product Form -->
<h2>Edit Product</h2>
<form (submit)="edit_Product(editProduct)">
  <label>
    Name:
    <input type="text" [(ngModel)]="editProduct.name" name="name" required>
  </label>
  <br>
  <label>
    Price:
    <input type="number" [(ngModel)]="editProduct.price" name="price" required>
  </label>
  <br>
  <label>
    Image:
    <input class="form-control" type="file" width="30%" height="52%"
            (change)="onChangeedit($event)">
            <div class ="card-body" >
              <h3 class="card-title">{{editProduct.name}}</h3>
              <div class="form__image">
              <img [src]="editurl" class="card-img-top" >
            </div>
              <p class="card-text">{{editProduct.price}}</p>

            </div>
  </label>
  <br>
  <input type="file" id="image-upload" >
<div id="image-preview"></div>
<button onclick="cropImage()">Crop</button>
<br>
  <button type="submit">Update Product</button>
</form>
</ul>
<h2>Öffnungszeiten</h2>
<form (submit)="setopentimes(opentimes)" >
  <div >
    <label for="monday">Monday:</label>
    <input type="text" [(ngModel)]="opentimes.monday" name="monday" placeholder="opentimes[0].monday">
  </div>
  <div>
    <label for="tuesday">Tuesday:</label>
    <input type="text" [(ngModel)]="opentimes.tuesday" name="tuesday" placeholder="opentime.tuesday">
  </div>
  <div>
    <label for="wednesday">Wednesday:</label>
    <input type="text" [(ngModel)]="opentimes.wednesday" name="wednesday" placeholder="opentime.wednesday">
  </div>
  <div>
    <label for="thursday">Thursday:</label>
    <input type="text" [(ngModel)]="opentimes.thursday" name="thursday" placeholder="opentime.thursday">
  </div>
  <div>
    <label for="friday">Friday:</label>
    <input type="text" [(ngModel)]="opentimes.friday" name="friday" placeholder="opentime.friday">
  </div>
  <div>
    <label for="saturday">Saturday:</label>
    <input type="text" [(ngModel)]="opentimes.saturday" name="saturday" placeholder="opentimes.saturday">
  </div>
  <div>
    <label for="sunday">Sunday:</label>
    <input type="text" [(ngModel)]="opentimes.sunday" name="sunday" placeholder="opentimes[0].sunday">
  </div>
  <button type="submit">Save</button>
</form>

<!-- Product List -->
<h2>Product List</h2>
<div class="product-container">

  <div class="product-row">
      <div class="product-card" *ngFor="let product of products$ | async">
        <div class="product-card__image">
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="card-img-top" width="20%" height="22%">
        </div>
        <div class="product-card__details">
        <h3>{{ product.name }}</h3>
        <p>{{ product.price | currency }}</p>
        <button (click)="editProductForm(product)">Edit</button>
        <button (click)="deleteProduct(product.id)">Delete</button>
      </div>
      </div>
    </div>
  </div>
  </main>
  </body>
</html>
