@import '../../styles.css';


.button{
  background-color: aqua;
  color: #000;
}

.form__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32vmin;
  width: 30vmin;
  overflow: hidden;

}
