<!-- manager.component.html -->
<h1>Manager Page</h1>

<!-- Add Product Form -->
<h2>Add Product</h2>
<form (submit)="addProduct(newProduct)">
  <label>
    Name:
    <input type="text" [(ngModel)]="newProduct.name" name="name" required>
  </label>
  <br>
  <label>
    Price:
    <input type="number" [(ngModel)]="newProduct.price" name="price" required>
  </label>
  <br>
  <label>
    Image:
    <input class="form-control" type="file" width="20%" height="22%"
            (change)="onChange($event)">
            <div class ="card-body" >
              <h3 class="card-title">{{newProduct.name}}</h3>
              <img [src]="url" alt="" width="20%" height="22%">
              <p class="card-text">{{newProduct.price}}</p>

            </div>
  </label>
  <br>
  <button type="submit">Add Product</button>
</form>
<!-- Edit Product Form -->
<h2>Edit Product</h2>
<form (submit)="edit_Product(editProduct)">
  <label>
    Name:
    <input type="text" [(ngModel)]="editProduct.name" name="name" required>
  </label>
  <br>
  <label>
    Price:
    <input type="number" [(ngModel)]="editProduct.price" name="price" required>
  </label>
  <br>
  <label>
    Image URL:
    <input type="url" [(ngModel)]="editProduct.imageUrl" name="imageUrl" required>
  </label>
  <br>
  <button type="submit">Update Product</button>
</form>
<!-- Product List -->
<h2>Product List</h2>
<table>
    <div class="products" *ngFor="let product of products$ | async">

      <div class ="card-body">
        <h3 class="card-title">{{product.name}}</h3>
        <img [src]="product.imageUrl" class="card-img-top" alt="..." width="20%" height="22%">
        <p class="card-text">{{product.price}}</p>
        <button (click)="editProductForm(product)">Edit</button>
        <button (click)="deleteProduct(product.id)">Delete</button>
      </div>
    </div>
</table>
