<html>
  <head>
    <title>
    Product Page
    </title>
  </head>
  <body>
    <header>
      <h1 class="title" >
        <img class="product-logo" [src]="logo" alt="Product Logo" aligne = "left" width="10%" height="12%" >
        {{title}}</h1>
    </header>
  <main>
<!-- Add Product Form -->
  <div class="product-container">
  <div class="product-row">
      <div class="product-card" *ngFor="let product of products$ | async">
        <div class="product-card__image">
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="card-img-top" width="20%" height="22%">
        </div>
        <div class="product-card__details">
        <h3>{{ product.name }}</h3>
        <p>{{ product.price | currency }}</p>
      </div>
      </div>
    </div>
  </div>

  </main>
  </body>
</html>
