<html >

  <body>
    <header>

      <h1 class="title" >
        <img class="product-logo" [src]="logo" alt="Product Logo" aligne = "left" width="10%" height="12%" >
        {{title}}
        <p class="location">📍{{loc}}</p>
      </h1>
      <div class="open-sign"><span class="dot">·</span>Open</div>
        <div class="header-container">

        <p class="slogan">{{info}}</p>
      </div>
    </header>
    <nav>
      <ul>
        <li class = "opentimeslist">
          <div class = "opentimes">
            <p class = "open">Mo: {{ opentimes.monday }}</p>
            <p class = "open">Di: {{ opentimes.tuesday }}</p>
            <p class = "open">Mi: {{ opentimes.wednesday }}</p>
            <p class = "open">Do: {{ opentimes.thursday }}</p>
            <p class = "open">Fr: {{ opentimes.friday }}</p>
            <p class = "open">Sa: {{ opentimes.saturday }}</p>
            <p class = "open">So: {{ opentimes.sunday }}</p>
          </div>

      </li>
    </ul>
      <ul>
        <!-- Loop through the Kategorien array and create a button for each category -->
        <li *ngFor="let kategorie of kategorien">
          <button class ="navbutton"(click)="changeKat(kategorie)">{{kategorie}}</button>
        </li>
      </ul>
    </nav>
  <main>
<!-- Add Product Form -->
  <div class="product-container">

  <div class="product-row">
      <div class="product-card" *ngFor="let product of products$ | async">
        <div class="product-card__image">
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="card-img-top" width="20%" height="22%">
        </div>
        <div class="product-card__details">
        <h3>{{ product.name }}</h3>
        <p>{{ product.price | currency }}</p>
      </div>
      </div>
    </div>
  </div>

  </main>
  </body>
</html>
