/* You can add global styles to this file, and also import other style files */
header {
  background: linear-gradient(to right,#10025f, #13547a,#40c7f0);
  background-color: #10025f;
  color:#d2e3f5;
  padding: 22px;
  justify-content: center;
  align-items: center;
  align-self: center;
  display: inline-block;
  border-radius: 1%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  width: 99%;
  margin-bottom: 1%;

}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.address {
  font-size: 16px;
  font-family: sans-serif;
  margin-right: 10px;
  justify-content: right;
}

body {
  background-color: #c5c5c5d5;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 95%;
  margin: 0;
  margin: auto;
}
.title {
  font-size: 5vw;
  margin: 0%;
  text-transform: uppercase;
  padding-left: 0%;
}
.ourProducts{
  color: #00087a;
  font-size: 2.5vw;
  font-weight: bold;
  margin: 0;
}
.product-scroll-container {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  flex-wrap: wrap; /* Wrap the products to a new row when they reach the end of the container */
  justify-content: space-between; /* Space the products evenly within the container */
  margin-top: 5%;
}

.product-row {
  display: inline-block;
  scroll-snap-type: x mandatory;
}



.product-card {
  flex-basis: calc(33% - 20px); /* Set the width of each product card to 33.33% minus 20px for margin */
  margin: 2%;
  display: inline-block;
  width: 20%;
  height: 40%;
  margin-right: 3%;
  background-color: #f5efef;
  border-radius: 2%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  scroll-snap-align: center;
}
.product-card:hover {
  background-color: #84dcf115;
}
.product-card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;

}

.product-card__image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

/* hide scroll bar for WebKit-based browsers */
.product-container::-webkit-scrollbar {
  display: none;
}


.product-card__details {
  padding: 15px;
  text-align: center;

}

.product-card__name {
  font-size: 5vw;
  font-weight: bold;
  margin: 8% 3%;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
}

.product-card__price {
  margin: 0;
  font-size: 5vw;
}

.slogan {
  font-size: 24px;
  font-family: cursive;
  margin: 0;
}
nav {
  background: linear-gradient(to right,#10025f, #13547a,#40c7f0);
  background-color: #10025f;
  color:#d2e3f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 10px;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.open-sign {
  color: #d10000;
  font-weight: bold;
  text-shadow: #d10000;
  position: absolute;
  left: 0;
  margin-left: 12%; /* add some margin to separate the open sign from the text */
  font-size: 26px;
  animation: blink 5s infinite; /* use the blink animation for the sign */
}
.open-sign::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(248, 0, 0, 0.5), transparent);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.dot{
  font-size: 5vw;
  vertical-align: middle;
  text-shadow: #d10000;
}
.dot::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgba(248, 0, 0, 0.5), transparent);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
